@model GradeBook.Models.Classroom
@{
    ViewBag.Title = "Index";
}

<h2>Students</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Nome
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var student in Model.Students)
        {
            <tr>
                <td>
                    <a href="/Student/Index/@student.Id" target="_blank">@student.Name</a>
                </td>
            </tr>
        }
    </tbody>
</table>